tmp/
waypaper/
.config.backup/
btop/
alacritty/
calcurse/
cava/
cmus/
DankMaterialShell/
dconf/
dgop/
dunst/
environment.d/
eww/
firefox/
foot/
galculator/
gh/
gitfetch/
go/
gtk-3.0/
gtk-4.0/
htop/
mimeapps.list
mozilla/
mpd/
mpv/
ncmpcpp/
nwg-displays/
nwg-displays/
obs-studio/
pacseek/
procps/
pulse/
quickrice/
systemd/
Thunar/
tigervnc/
VSCodium/
'VSCodium copy'/
wal/
waypaper/
wob/
xfce4/
xsettingsd/
yay/
updater/